/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.env.example
/storage/logs/laravel.log
/storage/uploads/payments/*
/storage/uploads/events/banners/*
/storage/uploads/events/logos/*
/storage/uploads/events/pdfs/*
/storage/uploads/events/post_images/*
/storage/uploads/events/CsiOrgSubscribers/*

